body {
    margin: 0;
    padding: 0;
    background-color: rgb(10, 10, 10);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

canvas {
    display: block;
    margin: 0 auto;
}